div.indicator {
  background-color:grey;
}

div.indicator.success {
  background-color: rgba(19, 158, 248, 1); // #139ef8;
}

div.indicator.danger {
  background-color: rgba(248, 99, 19, 1); //#f86313;
  bottom: 0px;
  position:absolute;
  z-index: 1000;
  height: 200px;
  width: 100%;
}

div.indicator.upload {
  position: absolute;
  height: 100%;
  width: 100%;
}

div.indicator.upload.success {
  background-color: rgba(19, 158, 248, 0.5); // #139ef8;
}

div.indicator.upload.danger {
  background-color: rgba(248, 99, 19, 0.5); //#f86313;
}

.indicator p {
  margin:0;
  text-align: center;
  color: white;
}

p.head {
  font-size: large;
  opacity: 1;
}

p.sub {
  font-size: small;
  opacity: 1;
}