@charset "utf-8";

// $panel-radius: 0px;

@import "../node_modules/bulma";

body.popup {
    max-width: 500px;
    width: 500px;
}

.popup .panel {
    border-radius: 0px;
}

.popup .panel-heading {
    border-radius: 0px;
}

.popup .panel-block p{
    text-overflow: ellipsis;

    white-space: nowrap;
    overflow: hidden;
}

.panel-block {
    justify-content: space-between;
}

.panel-icon {
    vertical-align: initial;
}

.stegicon {
    align-items: center;
}

.stegicon svg {
    stroke: $white;
    fill: $white;
    stroke-width: 1px;
    max-width: 50px;
    padding: 2px;   
}

.stegicon b {
    font-size: 25px;
    color: $white;
}